window { background: unset; }
flowboxchild { outline-width: 0; }
    #outer-box {
      background: #24233b;
      border: 1px solid #24233b;
      border-radius: 24px;
      box-shadow: 0 2px 3px #151b16;
      margin: 5px 5px 10px;
      padding: 5px 5px 10px;
    }
    #input {
      background-color: #24233b;
      border: none;
      border-radius: 16px;
      color: white;
      margin: 5px;
    }
    #inner-box {
      background-color: #24233b;
      border: none;
      border-radius: 16px;
      margin: 5px;
    }
    #scroll {
      border: none;
      margin: 0px;
    }
    #text {
      color: white;
      margin: 5px;
    }
    #entry { border-radius: 16px; }
    #entry:selected {
      background-color: #555555;
    }